.project_form {
  display: flex;
  background-color: rgba(0, 0, 0, 0.308);
  padding: 18px;
  gap: 3px;
  border-radius: 10px;
  margin: 0 15px;
  margin-top: 15px;
  position: fixed;
  bottom: 10px;
  width: 65em;
}
